<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min4.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/admin-main.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/admin-products.css">
    <title>محصولات</title>
</head>
<body>
    <div class=" popup-disappear">
        
    </div>
    <div class="page">
        <%- include('./admin-nav', {'categories':categories, 'path': path}) %>
        <main class='main-content'>
            <% if (error!=''){ %>
                <h3 style="color:red; background-color: white;"><%= error %></h3>
            <% } %>
            <% if (succeed) { %>
                <h3 style="color:greenyellow;background-color:white;"><%= succeed %></h3>
            <% } %>
            <div class="filter-search container d-flex align-items-center">
                <div class="d-flex category-filter align-items-center">
                    <label for="category-select" class="mb-0">دسته بندی: </label>
                    <select name="category-select" oninput="updateList(this)" class="category-select" id="category-select">
                        <% if (listCategory) { %>
                            <option value=""><%= listCategory %></option>
                        <% } %>
                        <option value="">همه محصولات</option>
                        <% for (let cat of categories){ %>
                            <% if (cat != listCategory) { %>
                                <option value="<%=cat%>"><%=cat%></option> <% } %>
                        <% } %>        
                    </select>
                </div>
                <a class="btn btn-dark py-1 mr-1 list-update-btn " id="list-update-btn" href="/admin/products">بروز رسانی لیست</a>
                <div class=" mr-auto search-utility">
                    <input class="search-input" type="text" name="search-title" id="search-title" autocomplete="off" placeholder="جستجوی نام محصول">
                    <div class="search-container">
                    </div>
                </div>
            </div>
            <table class="products-table container">
                <thead>
                    <tr class="products-table-row products-table-header">
                        <th class="products-table-col ">کد کالا</th>
                        <th class="products-table-col ">نام کالا</th>
                        <th class="products-table-col "> موجودی</th>
                        <th class="products-table-col ">قیمت</th>
                        <th class="products-table-col ">تخفیف</th>
                        <th class="products-table-col ">قیمت نهایی</th>
                        <th class="products-table-col ">.</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (products){ %>
                        <% for(let product of products) { %>
                            <tr class="products-table-row">
                                <td class="products-table-col"><%= product.id %></td>
                                <td class="products-table-col"><%= product.title %></td>
                                <td class="products-table-col"><%= product.count %></td>
                                <td class="products-table-col"><%= product.price %></td>
                                <td class="products-table-col"><%= product.sale %></td>
                                <td class="products-table-col"><%= product.price - product.sale %></td>
                                <td class="products-table-col "><a class="btn btn-dark" href="/admin/products/<%=product.id%>" class="product-view-btn">مشاهده</a>
                                <a href="/admin/products/edit/<%= product.id %>" class="btn btn-dark">تغییر</a></td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
                
            </table>
        </main>
    </div>
    <script src="/js/jquery-slim.js"></script>
    <script src="/js/search.js"></script>
</body>
</html>